/* General styles for the form */
.dynamic-form {
    display: grid;
    gap: 24px;
}

.dynamic-form.single {
    grid-template-columns: 1fr;
}

.dynamic-form.two-column {
    grid-template-columns: 1fr 1fr;
    gap: 60px; /* Horizontal and vertical gap */
    row-gap: 24px; /* Increase the vertical gap between rows */
}

/* Form group styling */
.form-group {
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* Specific alignment for the SwitchComponent */
.form-group .e-switch-wrapper {
    align-items: center;
    margin-left: 0;
    /* Align the switch to the left */
}

/* Add spacing between the control and validation message */
.form-group .e-error {
    margin-top: 8px; /* Adjust the value to increase or decrease the gap */
}

/* Style for the submit button container */
.submit-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px; /* Adjusted spacing above the button */
}

/* Ensure the submit button is in the second column for two-column layout */
.dynamic-form.two-column .submit-button-container {
    grid-column: 2; /* Place the button in the second column */
}

/* Style for the submit button */
.submit-button-container .e-btn {
    padding: 6px 12px;
    /* Make the button smaller */
    font-size: 14px;
    /* Adjust font size */
}

/* Style for the switch container */
.switch-container {
  display: flex;
  align-items: center; /* Align label and switch vertically */
  gap: 10px; /* Add spacing between the label and the switch */
}

/* Style for the switch label to match the text box float label */
.switch-label {
  margin-left: 2px; /* Adjust spacing to match the float label */
  font-size: 14px; /* Match the font size of the float label */
  font-weight: 450; /* Match the font weight of the float label */
  color: #353333; /* Match the color of the float label */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Match the font family */
  margin-bottom: 0; /* Ensure consistent spacing */
}
