/* Small Button Styling */
.small-btn {
    font-size: 12px;
    /* Smaller font size */
    padding: 5px 10px;
    /* Reduced padding */
    border-radius: 3px;
    /* Optional: Slightly rounded corners */
    height: 30px;
    /* Adjust the button height */
    line-height: normal;
    /* Align text properly */
}

.appName {
    font-size: 14px;
    /* Larger font size */
    font-weight: bold;
    /* Bold text */
    margin-left: 10px;
    line-height: normal;
    /* Add some space to the left */
}

.custom-appbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #007bff;
    color: #fff;
  }

  .appbar-left,
  .appbar-center,
  .appbar-right {
    display: flex;
    align-items: center;
  }

  .profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .menu-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
  }

  .menu-button .material-icons {
    font-size: 24px;
  }

  .menu-button:hover {
    color: #e0e0e0;
  }
